.container-todolist{
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-between;
    align-items: center;
    margin: 1.5rem 2rem;
    background-color: #ede6e3;
    border-radius: 0 10px 0 10px;
    box-shadow: 1px 5px 10px 2px #e6d29223;
}
.container-todolist div > h3{
    margin-left: 1rem;
}

button{
    width: 5rem;
    border: none;
    padding: .5rem;
    margin-right: 1rem;
    border-radius: 10px;
    cursor: pointer;
}

.todo-card {
    width: 22%;
    margin-top: 20px;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px;
    height: 130px;
    transition: all 0.3s ease;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.15);
  }


.todo-actions .completed {
    color: #fff;
    background-color: #d57e7e;
    width: 6rem;
    padding: 5px 15px;
    font-size: 1rem;
    outline: none;
    border: 1px solid #d57e7e;
    border-radius: 10px;
  }
  
  .todo-actions .reset {
    color: #fff;
    background-color: #c6d57e;
    width: 6rem;
    padding: 5px 15px;
    font-size: 1rem;
    outline: none;
    border: 1px solid #c6d57e;
    border-radius: 10px;
  }

  .container-todolist:hover {
      transform: translateY(-.2rem);
      background-color:  #d8d5d4;
  }